<!DOCTYPE html>
<html>
  <head>
    <title>kbc-chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/47ddc8fcd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% self_css_path = "/assets/"+controller.controller_path  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>
    <%= javascript_importmap_tags %>
    <% if controller.controller_name == "room" && controller.action_name ==  "page" %>
      <script type="text/javascript">
        document.addEventListener("turbo:load", () => {
          Turbo.clearCache()
          let button = document.getElementById('more-messages');
          var i = 2;
          var jqxhr;
          $(".message-all").scrollTop(1);
          window.addEventListener('scroll', function() {
            if(jqxhr){
              jqxhr.abort()
            }
            if (($(window).scrollTop() == 0) && (i <= parseInt($(".message_view").find("nav.pagination span.last a").prop("search").match(/[0-9]/), 10))){
              var count = 0;
              button.click()
              jqxhr = $.ajax({
                url: $(".message_view").find("nav.pagination a[rel=next]").prop("search").replace(/[0-9]/, i),
                beforeSend: function(){
                  $('.cv-spinner').removeClass('hide');
                },
                success: function(data){
                  setTimeout(function(){
                    $("#messages").prepend($(data).find("#messages").html());
                    $(window).scrollTop($(window).first().height())
                    i++;
                    $('.cv-spinner').addClass('hide');
                  }, 850)
                }
              })
            }
          })
        });
      </script>
    <% end %>
  </head>

  <body>
    <div class="container">
      <div class="sub-container">
        <div class="user-info">
          <img class="user-icon" src=<%= @current_user.image %>>
          <div class="user-info-right">
            <div class="user-name"><%= @current_user.name %></div>
            <div id="user-data" user-data-id="<%= @current_user.id %>"></div>
            <div class="user-status <%= current_user_status %> user-<%= @current_user.id %>-status">
              ●オンライン
            </div>
          </div>
        </div>
        <div class="menu">
          <%= link_to "/", class: "menu-one" do %><i class="fa-solid fa-house"></i> トップ<% end %>
          <%= link_to "/room", class: "menu-one" do %><i class="fa-solid fa-comment"></i> ルーム一覧<% end %>
          <%= link_to "/room/joined", class: "menu-one" do %><i class="fa-solid fa-comment"></i> 参加中のルーム<% end %>
          <%= link_to "/search/rooms", class: "menu-one" do %><i class="fa-solid fa-magnifying-glass"></i> ルームを探す<% end %>

          <div class="menu-one" id="open-modal" name="open-modal-btn"><i class="fa-solid fa-plus"></i> ルームを作成</div>

            <div id="demo-modal" class="modal">
              <div class="modal-content">
                <div class="modal-header">
                  <span class='close'><i class="fa-solid fa-circle-xmark"></i></span>
                  <h2>新規作成</h2>
                </div>
                <div class="modal-body">
                    カテゴリ<div class="create-from"><input type="text"></div>
                    ルーム名<div class="create-from"><input type="text"></div>
                    ルームアイコン<div class="create-from"><input type="file"></div>
                    ルーム詳細情報<div class="create-from">
                    <textarea class="modal-textarea"></textarea></div>
                    <input type="submit">
                </div>
              </div>
            </div>

          <%= link_to setting_path, class: "menu-one" do %><i class="fa-solid fa-gear"></i> 設定<% end %>
        </div>
      </div>
      <div class="main-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
