<!DOCTYPE html>
<html>
  <head>
    <title>kbc-chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/47ddc8fcd4.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% self_css_path = "/assets/"+controller.controller_path  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="sub-container">
        <div class="user-info">
          <img class="user-icon" src="/test_icon.png">
          <div class="user-info-right">
            <div class="user-name">山口一郎</div>
            <div class="user-status">●オンライン</div>
          </div>
        </div>
        <div class="menu">
          <%= link_to "/", class: "menu-one" do %><i class="fa-solid fa-house"></i> トップ<% end %>
          <%= link_to "/room", class: "menu-one" do %><i class="fa-solid fa-comment"></i> 参加中のルーム<% end %>
          <%= link_to "/room", class: "menu-one" do %><i class="fa-solid fa-magnifying-glass"></i> ルームを探す<% end %>
          <%= link_to new_room_path, class: "menu-one" do %><i class="fa-solid fa-plus"></i> ルームを作成<% end %>
          <%= link_to "/room", class: "menu-one" do %><i class="fa-solid fa-gear"></i> 設定<% end %>
        </div>
      </div>
      <div class="main-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
