<!DOCTYPE html>
<html>
  <head>
    <title>kbc-chat</title>
    <meta name="turbo-cache-control" content="no-preview">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/47ddc8fcd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% self_css_path = "/assets/"+controller.controller_path  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="sub-container">
        <div class="user-info">
          <% agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36" %>
          <% url = URI.parse(@current_user.image) %>
          <% begin %>
            <% Net::HTTP.new(url.host).get({"User-Agent": agent}) %>
          <% rescue %>
            <img class="user-icon" src="/default<%=rand(1..4)%>.png">
          <% else %>
            <img class="user-icon" src=<%= @current_user.image %>>
          <% end %>
          <div class="user-info-right">
            <div class="user-name"><%= @current_user.name %></div>
            <div id="user-data" user-data-id="<%= @current_user.id %>"></div>
            <div class="user-status <%= current_user_status %> user-<%= @current_user.id %>-status">
              ●オンライン
            </div>
          </div>
        </div>
        <div class="menu">
          <%= link_to "/", class: "menu-one", data: { turbo: false } do %>
            <i class="fa-solid fa-house"></i> トップ
          <% end %>

          <%= link_to "/room", class: "menu-one", data: { turbo: false } do %>
            <i class="fa-solid fa-comment"></i> ルーム一覧
          <% end %>

          <%= link_to "/room/joined", class: "menu-one", data: { turbo: false } do %>
            <i class="fa-solid fa-comment"></i> 参加中のルーム
          <% end %>
          
          <%= link_to "/search/rooms", class: "menu-one", data: { turbo: false } do %>
            <i class="fa-solid fa-magnifying-glass"></i> ルームを探す
          <% end %>

          <div class="menu-one" id="open-modal" name="open-modal-btn">
            <i class="fa-solid fa-plus"></i> ルームを作成
          </div>

          <%= render "room/new_room" %>

          <%= link_to setting_path, class: "menu-one" do %>
            <i class="fa-solid fa-gear"></i> 設定
          <% end %>
        </div>
      </div>
      <div class="main-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
