<div class="infinite-scroll">
  <div class="cv-spinner hide">
    <span class="spinner"></span>
  </div>
</div>

<div id="messages" class="message-all">
  <% if messages != nil %>
    <% messages.reverse_each do |message| %>
      <div id="message-<%= message.id%>" class="message-one">
        <% if @members_hash[message.user_id] %>
          <% user = @members_hash[message.user_id] %>
          <div class="message-left">
          <% if user["image"] %>
          <img src=<%= user["image"] %>>
          <% else %>
          <img src="/default<%=rand(1..4)%>.png">
          <% end %>
          </div>
          <div class="message-right">
            <div class="message-user-info">
              <div class="message-username"><%= user["name"] %></div>
        <% else %>
          <div class="message-left">
            <img src="http://www.haruzou.com/wp-content/uploads/illust-54.png">
          </div>
          <div class="message-right">
            <div class="message-user-info">
              <div class="message-username">退室済みのユーザー</div>
        <% end %>
        <div id="message-time">
          <%= date_format(message.created_at) %>
        </div>
        <% if @current_user.id == message.user_id %>
          <div id="message-delete">
            <%= link_to "削除", destroy_message_path(message.id), data: {turbo_method: :delete} %>
          </div>
        <% end %>
            </div>
            <div class="text-messages">
              <%= markdown(message.sentence) %>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
  <div class="message_view">
    <%= paginate messages %>
  </div>
</div>
