<div class="modal-detail" id="js-modal-detail">
  <div class="modal-detail-inner">
    <div class="detail-header">
      <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
    </div>
    <div class="detail-body">
      <div class="tab_container">
          <input id="tab1" type="radio" name="tab_item" checked>
          <label class="tab_item" for="tab1">ルーム情報</label>
          <input id="tab2" type="radio" name="tab_item">
          <label class="tab_item" for="tab2">メンバー</label>
          <input id="tab3" type="radio" name="tab_item">
          <label class="tab_item" for="tab3">設定</label>
        <div class="tab_content" id="tab1_content">
          <div class="tab_content_description">
            <div class="modal-inner-content">
              <div class="title">ルーム名</div>
              <div class="contents"><%= room.name %></div>
            </div>
            <div class="modal-inner-content">
              <div class="title">カテゴリ</div>
              <div class="contents"><%= room.category %></div>
            </div>
            <div class="modal-inner-content">
              <div class="title">ルーム詳細情報</div>
              <div class="contents"><%= room.describe %></div>
            </div>
          </div>
        </div>
        <div class="tab_content" id="tab2_content">
          <div class="tab_content_description">
              <div class="contents">
                <div id="user-data" user-data-id="<%= @admin.id %>"></div>
                <div class="room-user-list admin">
                  <img src="<%= @admin.image %>" class="icon">
                  <div class="info">
                    <div class="info-top">
                      <div class="name">
                        <%= @admin.name %>
                        <% status = @admin.status ? "online":nil %>
                      </div>
                      <span class="user-status <%= status %> user-<%= @admin.id %>-status">
                        ●
                      </span>
                    </div>
                    <div class="role">管理者</div>
                  </div>
                </div>
                <% @info_members.each do |member| %>
                  <% unless member.id == @admin.id%>
                    <div id="user-data" user-data-id="<%= member.id %>"></div>
                    <div class="room-user-list">
                      <img src="<%= member.image %>" class="icon">
                      <div class="info">
                        <div class="info-top">
                          <div class="name">
                            <%= member.name %>
                            <% status = member.status ? "online":nil %>
                          </div>
                          <span class="user-status <%= status %> user-<%= member.id %>-status">
                            ●
                          </span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
        <div class="tab_content" id="tab3_content">
          <div class="tab_content_description">
            <% if room.admin == @current_user.id %>
            <input id="acd-check1" class="acd-check" type="checkbox">
            <label class="acd-label" for="acd-check1">ルーム情報設定</label>
            <div class="acd-content">
              <div class="edit_room_function">
                  <%= form_with url: update_room_path, model: room, 
                    data: { turbo_frame: "_top" }  do |f| %>
                    <div id="errors-update-room"></div>
                    <%= f.label :category %>
                    <%= f.text_field :category %>
                    <%= f.label "メンバー" %>
                    <% if room.private %>
                      <%= collection_check_boxes(:room, :user_ids, @all_user, :id, :name,
                        checked: room.user_ids) do |cb| %>
                        <%= cb.label { cb.check_box + cb.text } %>
                      <% end %><br>
                    <% else %>
                      <%= collection_check_boxes(:room, :user_ids, @joined_user, :id, :name,
                        checked: room.user_ids) do |cb| %>
                        <%= cb.label { cb.check_box + cb.text } %>
                      <% end %><br>
                    <% end %>
                    <%= f.label :name %>
                    <%= f.text_field :name, autocomplete: "off" %>
                    <%= f.label :image %><br>
                    <%= f.file_field :image %><br>
                    <%= f.label :describe %>
                    <%= f.text_area:describe %>
                    <div class="submit-area">
                      <%= f.submit "変更する" %>
                    </div>
                  <% end %>
              </div>
            </div>
            <% end %>
            <input id="acd-check2" class="acd-check" type="checkbox">
            <label class="acd-label" for="acd-check2">退室</label>
            <div class="acd-content">
              <div class="modal-room-back">
                <div class="box"> 
                <div class="room-back-contents"> 
                  <%= link_to "ルームから退室する", room_leave_path(room.id), 
                    data: {turbo_method: :delete, turbo_confirm: "退室しますか？"} %>
                </div>
                </div>
              </div>
              <% if room.admin == @current_user.id %>
                <div class="modal-room-back">
                  <div class="box">
                    <div class="room-back-contents"> 
                      <%= link_to "ルームを削除する", destroy_room_path(room.id), 
                          data: {turbo_method: :delete, turbo_confirm: "削除しますか？"} %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-shadow" id="js-black-sh"></div>
</div>
