<div class="content-column">
  <div class="title">最新ルーム</div>
</div>
<div class="rooms">
  <% @room_latest.each do |room| %>
        <div class="room">
            <div class="room-bg-image">
                <% if room.image.length > 0 || room.image != nil %>
                  <img src = "<%= room.image %>">
                <% else %>
                  <img src = "/room_image/default.png">
                <% end %>
            </div>
            <div class="room-image">
              <% if room.image.length > 0 || room.image != nil %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <div class="room-titles">
              <div class="room-category-time">
                <div class="room-category">
                  <%= link_to "##{room.category}", category_path(CGI.escape(room.category)) %>
                </div>
                <div class="room-create-time"><%= date_format(room.created_at)%></div>
              </div>
                <div class="title"><%= room.name %></div>
            </div>
            <% unless UserRoom.find_by(user_id: @current_user.id, room_id: room.id) %>
              <div class="join-btn-area">
                <%= link_to "参加する", room_join_path(room.id), "data-turbo": false, class: "join-btn" %>
              </div>
            <% else %>
              <%= link_to room_page_path(room.id), class: "spread-link" do %><% end %>
            <br>
            <% end %>
        </div>
  <% end %>
</div>


<div class="content-column">
  <div class="title">現在アクティブなルーム</div>
</div>
<div class="rooms">
  <% @room_update.each do |room| %>
        <div class="room">
            <div class="room-bg-image">
                <% if room.image.length > 0 || room.image != nil %>
                  <img src = "<%= room.image %>">
                <% else %>
                  <img src = "/room_image/default.png">
                <% end %>
            </div>
            <div class="room-image">
              <% if room.image.length > 0 || room.image != nil %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <div class="room-titles">
              <div class="room-category-time">
                <div class="room-category">
                  <%= link_to "##{room.category}", category_path(CGI.escape(room.category)) %>
                </div>
                <div class="room-create-time"><%= date_format(room.created_at)%></div>
              </div>
              <div class="title"><%= room.name %></div>
            </div>
          <% unless UserRoom.find_by(user_id: @current_user.id, room_id: room.id) %>
              <div class="join-btn-area">
                <%= link_to "参加する", room_join_path(room.id), "data-turbo": false, class: "join-btn" %>
              </div>
            <% else %>
              <%= link_to room_page_path(room.id), class: "spread-link" do %><% end %>
            <br>
            <% end %>
        </div>
  <% end %>
</div>

<div class="content-column">
  <div class="title">ルーム一覧</div>
</div>
<div class="rooms" id="rooms-inf">
  <% @room_all.each do |room| %>
        <div class="room"> 
            <div class="room-bg-image">
                <% if room.image.length > 0 || room.image != nil %>
                  <img src = "<%= room.image %>">
                <% else %>
                  <img src = "/room_image/default.png">
                <% end %>
            </div>
            <div class="room-image">
              <% if room.image.length > 0 || room.image != nil %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <div class="room-titles">
              <div class="room-category-time">
                <div class="room-category">
                  <%= link_to "##{room.category}", category_path(CGI.escape(room.category)) %>
                </div>
                <div class="room-create-time"><%= date_format(room.created_at)%></div>
              </div>
              <div class="title"><%= room.name %></div>
            </div>
            <% unless UserRoom.find_by(user_id: @current_user.id, room_id: room.id) %>
              <div class="join-btn-area">
                <%= link_to "参加する", room_join_path(room.id), "data-turbo": false, class: "join-btn" %>
              </div>
            <% else %>
              <%= link_to room_page_path(room.id), class: "spread-link" do %><% end %>
            <br>
            <% end %>
        </div>
  <% end %>
</div>
<div class="rooms_view">
  <%= paginate @room_all, param_name: "room_page" %>
</div>
<div class="infinite-scroll">
  <div class="cv-spinner" id="spinner">
    <span class="spinner"></span>
  </div>
</div>
<div class="rooms-bottom" id="room-bottom"></div>


<script type="text/javascript">
document.addEventListener("turbo:load", () => {
  $(function() {
      const dataList = function(request, response) {
        $.ajax({
          url: '/name_auto/' + request.term,
          dataType: 'json',
          type: 'GET',
          cache: true,
          success: function(data) {
            response(data);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            response(['']);
          }
        });
      }
      $("#q_name_cont").autocomplete({
        source: dataList,
      });
  });
});
</script>
<script>
  let p = 2;
  document.addEventListener("turbo:load", () => {
    Turbo.clearCache();
    const spinner = document.getElementById("spinner")
    spinner.style.opacity = "0"; //spinnerを消す
    p = 2;
    window.addEventListener("scroll", roomScroll);
  });
    
  function getRoomsChild(){
    const bottom_room = document.getElementById("room-bottom") //roomsの一番下の空div
    const rect = bottom_room.getBoundingClientRect();
    const isInView = 0 < rect.bottom && parseInt(rect.bottom) <= window.innerHeight;
    return isInView;
  }

  function roomScroll() {
    //変数定義
    let rooms = document.getElementById("rooms-inf"); //page.htmlを参考にしたもの
    let last_room = rooms.lastElementChild;
    let last_room_h = last_room.getBoundingClientRect(); //一番下のルームの座標
    let height;
    let jqxhr;
    let flag = getRoomsChild();
    if ((flag) && (p <= parseInt($(".rooms_view").find("nav.pagination span.last a").prop("search").match(/[0-9]/), 10))) {
      jqxhr = $.ajax({
        url: $(".rooms_view").find("nav.pagination a[rel=next]").prop("search").replace(/[0-9]/, p),
        beforeSend: function(){
          spinner.style.opacity = "1"; //spinnerをつける
        },
        success: function(data){
          setTimeout(function(){
            $("#rooms-inf").append($(data).find("#rooms-inf").html());
            flag = getRoomsChild();
            spinner.style.opacity = "0"; //spinnerを消す
          }, 850)
        }
      })
      p++;
    }
  }
</script>
