<div class="content-column">
  <div class="title">最新ルーム</div>
</div>
<div class="rooms">
  <% @room_latest.each do |room| %>
        <div class="room">
            <div class="room-bg-image">
                <% if room.image.length > 0 || room.image != nil %>
                  <img src = "<%= room.image %>">
                <% else %>
                  <img src = "/room_image/default.png">
                <% end %>
            </div>
            <div class="room-image">
              <% if room.image.length > 0 || room.image != nil %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <div class="room-titles">
              <div class="room-category-time">
                <div class="room-category">
                  <%= link_to "##{room.category}", category_path(CGI.escape(room.category)) %>
                </div>
                <div class="room-create-time"><%= date_format(room.created_at)%></div>
              </div>
              <div class="title"><%= room.name %></div>
            </div>
            <div class="join-btn-area">
              <%= link_to "参加する", room_join_path(room.id), "data-turbo": false, class: "join-btn" %>
            </div>
        </div>
  <% end %>
</div>

<div class="content-column">
  <div class="title">ルーム一覧</div>
</div>
<div class="jscroll">
  <div class="rooms" id="inf">
    <% @room_all.each do |room| %>
          <div class="room"> 
              <div class="room-bg-image">
                  <% if room.image.length > 0 || room.image != nil %>
                    <img src = "<%= room.image %>">
                  <% else %>
                    <img src = "/room_image/default.png">
                  <% end %>
              </div>
              <div class="room-image">
                <% if room.image.length > 0 || room.image != nil %>
                  <img src = "<%= room.image %>" class="room-image">
                <% else %>
                  <img src = "/room_image/default.png" class="room-image">
                <% end %>
              </div>
              <div class="room-titles">
                <div class="room-category-time">
                  <div class="room-category">
                    <%= link_to "##{room.category}", category_path(CGI.escape(room.category)) %>
                  </div>
                  <div class="room-create-time"><%= date_format(room.created_at)%></div>
                </div>
                <div class="title"><%= room.name %></div>
              </div>
              <div class="join-btn-area">
                <%= link_to "参加する", room_join_path(room.id), "data-turbo": false, class: "join-btn" %>
              </div>
          </div>
    <% end %>
    <div class="room_view">
      <%= paginate @room_all, param_name: "room_page" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbo:load', function() {
  var i = 2;
  var html= `<div class="infinite-scroll">
              <div class="cv-spinner"> 
                <span class="spinner"></span>
              </div>
            </div>`
  var options = {
      autoTrigger: true,
      padding: 20,
      loadingHtml: html,
      nextSelector: 'span.next:last a',
      contentSelector: '#inf',
      pagingSelector: $(".room_view")
  };
  console.log($('.room'))
    $(window).on('scroll', function() {
      var scrollHeight = $(document).height();
      var scrollPosition = $(window).height() + $(window).scrollTop();
      if ($("nav.pagination a[rel=next]").length){
          setTimeout(function(){
            $('.jscroll').jscroll(options)
          },850)
      }
    });
  });
</script>
<script type="text/javascript">
document.addEventListener("turbo:load", () => {
  $(function() {
      const dataList = function(request, response) {
        $.ajax({
          url: '/name_auto/' + request.term,
          dataType: 'json',
          type: 'GET',
          cache: true,
          success: function(data) {
            response(data);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            response(['']);
          }
        });
      }
      $("#q_name_cont").autocomplete({
        source: dataList,
      });
  });
});
</script>