<div class="content-column">
  <div class="title">参加中のルーム</div>
</div>
<div class="rooms">
  <% @room_info.each do |room| %>
    <%= link_to room.category, category_path(CGI.escape(room.category)) %>
    <%= link_to room_page_path(room.id) do %>
      <div class="room"> 
          <div class="room-image">
          <% if room.image.length > 0 || room.image != nil %>
              <img src = "<%= room.image %>" class="room-image">
          <% else %>
              <img src = "/room_image/default.png" class="room-image">
          <% end %>
          </div>
          <%= room.name %>
          <%= date_format(room.created_at)%>
      </div>
    <% end %>
  <% end %>
</div>


<script type="text/javascript">
document.addEventListener("turbo:load", () => {
  $(function() {
      const dataList = function(request, response) {
        $.ajax({
          url: '/name_auto/' + request.term,
          dataType: 'json',
          type: 'GET',
          cache: true,
          success: function(data) {
            response(data);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            response(['']);
          }
        });
      }
      $("#q_name_cont").autocomplete({
        source: dataList,
      });
  });
});
</script>