<div class="content-column">
  <% if @room_info.length > 0 %>
    <div class="title2">参加中のルーム</div>
  <% else %>
    <div class="title2">参加中のルームはありません</div>
  <% end %>
</div>
<div class="joined-rooms">
  <% @room_info.each do |room| %>
      <div class="joined-room">
        <%= link_to room_page_path(room.id) do %>
          <div class="room-image">
            <% if room.image.length > 0 || room.image != nil %>
              <img src = "<%= room.image %>" class="room-image">
            <% else %>
              <img src = "/room_image/default.png" class="room-image">
            <% end %>
          </div>
        <% end %>
          <div class="room-titles">
            <%= link_to room_page_path(room.id) do %>
              <div class="title"><%= room.name %></div>
            <% end %>
            <div class="room-category-time">
              <div class="room-category">
                <%= link_to "##{room.category}", category_path(CGI.escape(room.category)) %>
              </div>
              <div class="room-create-time">最終更新 <%= date_format(room.updated_at)%></div>
            </div>
          </div>
      </div>
  <% end %>
</div>


<script type="text/javascript">
document.addEventListener("turbo:load", () => {
  $(function() {
      const dataList = function(request, response) {
        $.ajax({
          url: '/name_auto/' + request.term,
          dataType: 'json',
          type: 'GET',
          cache: true,
          success: function(data) {
            response(data);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            response(['']);
          }
        });
      }
      $("#q_name_cont").autocomplete({
        source: dataList,
      });
  });
});
</script>