<h1>ROOM</h1>
<div class="room_button">
  <div class="back_button">
    <%= link_to "戻る", "/room" %>
  </div>
</div>

<h1>新規作成</h1>
<%= render "form", room: @room %>
<br>
人気カテゴリー  
<div class="category">
  <% @categories.each_with_index do |category, i| %>
    <div id="category-name-<%= i %>"><%= category[0] %></div><div class="category-count">(<%= category[1] %>)</div>
  <% end %>
</div>

<script type="text/javascript">
function ChangeValue(e) {
  room_category.value = "未分類";
  room_category.value = e.target.textContent;
}
  <% @categories.each_with_index do |category, i| %>
    document.getElementById("category-name-" + <%= i %>).addEventListener('click', ChangeValue, false)
  <% end %>
</script>