<div class="room-header">
  <div class="room_header_left">
    <%= link_to("/room") do %><div class="room_back"><i class="fa-solid fa-angle-left"></i></div><% end %>
    <div class="room_title"><%= @room.name %></div>
  </div>
  <div class="room_header_right">
    <%= link_to edit_room_path(params[:id]) do %>
      <i class="fa-solid fa-caret-down"></i>
    <% end %>

  </div>
</div>


<p id="notice"><%= notice %></p>

<div class="room-content">

<div id="messages">
  <%= render "message_pagenation", model: @mess %>
</div>
<div id="dummy-margin" class="dummy-margin"></div>

<%= form_with url: create_message_path(params[:id]), model: @message, local: true do |f| %>
  <div class="message-form" >
    <div class="message-textarea">
      <div id="dummy-textarea" class="dummy-textarea" aria-hidden="true"></div>
      <%= f.text_area :sentence, id: "message-sentence", class: "message-sentense-class", :placeholder => "メッセージを送信する" %>
    </div>
    <input type="submit" name="commit" value="" id="message-submit" class="message-submit">
    <p id="helper-text" style="color: red;"></p>
  </div>
<% end %>

<script type="text/javascript">
  const input = document.querySelector("#message-sentence");
  const button = document.querySelector("#message-submit");
  const p = document.querySelector("#helper-text");
  const chatRegex = /[^\s\R]/;
  var textCount = 2000;

  button.disabled = true;
  input.addEventListener("keyup", () => {
    var count1 = input.value.length
    if (chatRegex.test(input.value)) {
      button.disabled = false;
    } else {
      button.disabled = true;
    };

    if (count1 >= textCount){
      button.disabled = true;
      $('.message-sentense-class:focus').css('box-shadow','0 0 0 4px rgba(234, 57, 33, 0.3');
    } else {
      $('.message-sentense-class:focus').css('box-shadow','0 0 0 4px rgba(35, 167, 195, 0.3');
    };

  });
</script>
</div>