<h1>ROOM</h1>

<%= link_to "ルーム削除", destroy_room_path(params[:id]), data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} %>

<%= link_to("戻る", "/room") %>

<p id="notice"><%= notice %></p>
<div class="room_button">
  <div class="back_button">
    <%= link_to("戻る", "/room") %>
  </div>
</div>

<div id="messages">
  <% if @messages != nil %>
    <% @messages.reverse_each do |message| %>
      <div id="message-<%= message.id%>">
        <p><%= message.sentence %></p>
        <div id="message-time">
          <% if message.created_at >= Date.today.beginning_of_day %>
            今日<%= message.created_at.strftime("%H:%M") %>
          <% elsif message.created_at < Date.today.beginning_of_day && message.created_at >= Date.yesterday.beginning_of_day%>
            昨日<%= message.created_at.strftime("%H:%M") %>
          <% else %>
            <%= message.created_at.strftime("%Y/%m/%d") %>
          <% end %>
        </div>
        <div id="message-delete">
          <%= link_to "削除する", destroy_message_path(message.id), data: {turbo_method: :delete} %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "ルーム削除","/room/delete/#{@room.id}",data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} %>

<%= link_to("戻る", "/room") %>

<h2>メッセージ作成</h2>

<%= form_with url: create_message_path(params[:id]), model: @message, local: true do |f| %>
<div class="message-form" >
  <%= f.text_area :sentence, id: "message-sentence", :placeholder => "メッセージを入力してください" %>
  <%= f.submit "送信" , class: "message-submit" %>
  </div>
<% end %>

<script type="text/javascript">
$(function() {
  var $textarea = $('#textarea');
  var lineHeight = parseInt($textarea.css('lineHeight'));
  $textarea.on('input', function(evt) {
    var lines = ($(this).val() + '\n').match(/\n/g).length;
    $(this).height(lineHeight * lines);
  });
});
</scirpt>
