<div class="room-header">
  <div class="room_header_left">
    <%= link_to("/room") do %><div class="room_back"><i class="fa-solid fa-angle-left"></i></div><% end %>
    <div class="room_title"><%= @room.name %></div>
  </div>
  <div class="room_header_right">
    <%= link_to destroy_room_path(params[:id]), data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} do %>
      <i class="fa-solid fa-caret-down"></i>
    <% end %>
  </div>
  <div class="room_header_right">
    <%= link_to edit_room_path(params[:id]) do %>
      <i class="fa-solid fa-caret-down">編集</i>
    <% end %>
  </div>
</div>


<p id="notice"><%= notice %></p>

<div class="room-content">

<div id="messages">
  <% if @messages != nil %>
    <% @messages.reverse_each do |message| %>
      <div id="message-<%= message.id%>" class="message-one">
        <div class="message-left"><img src="/test_icon.png"></div>
        <div class="message-right">
          <div class="message-user-info">
            <div class="message-username">山口 一郎</div>
            <div id="message-time">
              <% if message.created_at >= Date.today.beginning_of_day %>
                今日<%= message.created_at.strftime("%H:%M") %>
              <% elsif message.created_at < Date.today.beginning_of_day && message.created_at >= Date.yesterday.beginning_of_day%>
                昨日<%= message.created_at.strftime("%H:%M") %>
              <% else %>
                <%= message.created_at.strftime("%Y/%m/%d") %>
              <% end %>
            </div>
            <div id="message-delete">
              <%= link_to "削除", destroy_message_path(message.id), data: {turbo_method: :delete} %>
            </div>
          </div>
          <p><%= safe_join(message.sentence.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<%= form_with url: create_message_path(params[:id]), model: @message, local: true do |f| %>
  <div class="message-form" >
    <div class="message-textarea">
      <div class="dummy-textarea" aria-hidden="true"></div>
      <%= f.text_area :sentence, id: "message-sentene", class: "message-sentense-class", :placeholder => "メッセージを送信する" %>
    </div>
    <%= f.submit "送信" , id: "message-submit", class: "message-submit" %>
    <p id="helper-text" style="color: red;"></p>
  </div>
<% end %>


<script type="text/javascript">
$(function() {
  var $textarea = $('#textarea');
  var lineHeight = parseInt($textarea.css('lineHeight'));
  $textarea.on('input', function(evt) {
    var lines = ($(this).val() + '\n').match(/\n/g).length;
    $(this).height(lineHeight * lines);
  });
});
</scirpt>
</div>