<div class="room-header">
  <div class="room_header_left">
    <%= link_to("/room") do %><div class="room_back"><i class="fa-solid fa-angle-left"></i></div><% end %>
    <div class="room_title"><%= @room.name %></div>
  </div>
  <div class="room_header_right">
    <%= link_to edit_room_path(params[:id]) do %>
      <i class="fa-solid fa-caret-down"></i>
    <% end %>

  </div>
</div>


<p id="notice"><%= notice %></p>

<div class="room-content">

<div id="messages">
  <%= render "message_pagenation", model: @mess %>
</div>
<div id="dummy-margin" class="dummy-margin"></div>

<%= form_with url: create_message_path(params[:id]), model: @message, local: true do |f| %>
  <div class="message-form" >
    <div class="message-textarea">
      <div id="dummy-textarea" class="dummy-textarea" aria-hidden="true"></div>
      <%= f.text_area :sentence, id: "message-sentence", class: "message-sentense-class", :placeholder => "メッセージを送信する" %>
    </div>
    <%= f.submit "送信" , id: "message-submit", class: "message-submit" %>
    <p id="helper-text" style="color: red;"></p>
  </div>
<% end %>

<script type="text/javascript">
  const input = document.querySelector("#message-sentence");
  const button = document.querySelector("#message-submit");
  const p = document.querySelector("#helper-text");
  const chatRegex = /[^\s\R]/;
  button.disabled = true;
  input.addEventListener("keyup", () => {
    if (chatRegex.test(input.value)) {
      button.disabled = false;
    } else {
      button.disabled = true;
    };
  });
</script>
</div>