<h1>ROOM</h1>

<div class="room_button">
  <div class="back_button">
    <%= link_to("戻る", "/room") %>
  </div>
</div>

<div id="messages">
  <% if @messages != nil %>
    <% @messages.reverse_each do |message| %>
      <div id="message-<%= message.id%>">
        <p><%= message.sentence %></p>
        <div id="message-time">
          <% if message.created_at > 1.days.ago %>
            今日<%= message.created_at.strftime("%H:%M") %>
          <% else %>
            <%= message.created_at.strftime("%Y/%m/%d") %>
          <% end %>
        </div>
        <div id="message-delete">
          <%= link_to "削除する", "/message/#{message.id}", data: {turbo_method: :delete} %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h2>メッセージ作成</h2>
<%= form_tag("/message/#{@room.id}" , {multipart: true}) do %>
  <input name="sentence" id="message-sentence">
  <input type="submit" value="送信">
<% end %>

<%= link_to "ルーム削除","/room/delete/#{@room.id}",data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} %>

<%= link_to("戻る", "/room") %>