<div class="room-header">
  <div class="room_header_left">
    <%= link_to("/room") do %><div class="room_back"><i class="fa-solid fa-angle-left"></i></div><% end %>
    <div class="room_title"><%= @room.name %></div>
  </div>
  <div class="room_header_right">
    <%= link_to destroy_room_path(params[:id]), data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} do %>
      <i class="fa-solid fa-caret-down"></i>
    <% end %>
  </div>
</div>


<p id="notice"><%= notice %></p>

<div class="room_content">

<div id="messages">
  <% if @messages != nil %>
    <% @messages.reverse_each do |message| %>
      <div id="message-<%= message.id%>">
        <p><%= message.sentence %></p>
        <div id="message-time">
          <% if message.created_at > 1.days.ago %>
            今日<%= message.created_at.strftime("%H:%M") %>
          <% else %>
            <%= message.created_at.strftime("%Y/%m/%d") %>
          <% end %>
        </div>
        <div id="message-delete">
          <%= link_to "削除する", destroy_message_path(message.id), data: {turbo_method: :delete} %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<%= form_with url: create_message_path(params[:id]), model: @message, local: true do |f| %>
<div class="message-form" >
  <%= f.text_area :sentence, id: "message-sentence", :placeholder => "メッセージを入力してください" %>
  <%= f.submit "送信" , class: "message-submit" %>
  </div>
<% end %>

<script type="text/javascript">
$(function() {
  var $textarea = $('#textarea');
  var lineHeight = parseInt($textarea.css('lineHeight'));
  $textarea.on('input', function(evt) {
    var lines = ($(this).val() + '\n').match(/\n/g).length;
    $(this).height(lineHeight * lines);
  });
});
</scirpt>

</div>
