<div class="room-header-list">
  <div class="room-header">
    <div class="room_header_left">
      <%= link_to("/room") do %><div class="room_back"><i class="fa-solid fa-angle-left"></i></div><% end %>
      <div class="room_title"><%= @room.name %></div>
    </div>
    <div class="room_header_right">
      <%= link_to edit_room_path(params[:id]) do %>
        <i class="fa-solid fa-caret-down"></i>
      <% end %>
    </div>
  </div>
<div id="message-notice"></div>
</div>


<p id="notice"><%= notice %></p>

<div class="room-content">

<div id="messages">
  <% if @messages != nil %>
    <% @messages.reverse_each do |message| %>
      <div id="message-<%= message.id%>" class="message-one">
        <% @user = User.find_by(id: message.user_id) %>
        <div class="message-left"><img src=<%= @user.image %>></div>
        <div class="message-right">
          <div class="message-user-info">
            <div class="message-username"><%= @user.name %></div>
            <div id="message-time">
              <% if message.created_at >= Date.today.beginning_of_day %>
                今日<%= message.created_at.strftime("%H:%M") %>
              <% elsif message.created_at < Date.today.beginning_of_day && message.created_at >= Date.yesterday.beginning_of_day%>
                昨日<%= message.created_at.strftime("%H:%M") %>
              <% else %>
                <%= message.created_at.strftime("%Y/%m/%d") %>
              <% end %>
            </div>
            <% if @current_user.id == message.user_id %>
              <div id="message-delete">
                <%= link_to "削除", destroy_message_path(message.id), data: {turbo_method: :delete} %>
              </div>
            <% end %>
          </div>
          <p><%= safe_join(message.sentence.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div id="dummy-margin" class="dummy-margin"></div>

<%= form_with url: create_message_path(params[:id]), model: @message, local: true do |f| %>
  <div class="message-form">
    <div class="message-textarea">
      <div id="dummy-textarea" class="dummy-textarea" aria-hidden="true"></div>
      <%= f.text_area :sentence, id: "message-sentence", class: "message-sentense-class", :placeholder => "メッセージを送信する" %>
    </div>
    <input type="submit" name="commit" value="" id="message-submit" class="message-submit">
    <p id="helper-text" style="color: red;"></p>
  </div>
<% end %>

<script type="text/javascript">
  const input = document.querySelector("#message-sentence");
  const button = document.querySelector("#message-submit");
  const p = document.querySelector("#helper-text");
  const chatRegex = /[^\s\R]/;
  var textCount = 2000;

  button.disabled = true;
  input.addEventListener("keyup", () => {
    var count1 = input.value.length
    if(chatRegex.test(input.value)){
      button.disabled = false;
      $('.message-submit').css('opacity', '1.0');
    }else{
      button.disabled = true;
      $('.message-submit').css('opacity', '0.2');
    };

    if(count1 >= textCount){
      button.disabled = true;
      $('.message-sentense-class:focus').css('box-shadow','0 0 0 4px rgba(234, 57, 33, 0.3)');
    }else{
      $('.message-sentense-class:focus').css('box-shadow','0 0 0 4px rgba(35, 167, 195, 0.3)');
    };
  });
</script>
<script type="text/javascript">
$(window).on('scroll', function (){
  var elem = $('.message-one');
    var elemOffset = elem.last().offset().top;
    var scrollPos = $(window).scrollTop();
    var wh = $(window).height();

    if(scrollPos >= elemOffset - wh){
      document.getElementById('message-notice').textContent = "";
    }

});
</script>

<script type="text/javascript">
function (){
  var elm = getElementById('message-notice');
  var elm = elm.scrollHeight - elm.clientHeight;
  window.scrollTo(0, document.body.scrollHeight);
}
</script>
</div>
