<h3># <%= @room.name %> </h3>
<br>
<div id="messages">
  <% if @messages != nil %>
    <% @messages.reverse_each do |message| %>
      <p><%= message.sentence %></p>
      <%= link_to message_delete_path(message.room_id, message.id), data: {turbo_method: :delete } do %>
        <button id="<%= message.id %>" id="delete-btn">削除</button>
      <% end %>
      <%#= 1.days.ago %>
      <%#= message.created_at %>
      <div id="message-time">
        <% if message.created_at > 1.days.ago %>
          今日<%= message.created_at.strftime("%H:%M") %>
        <% else %>
          <%= message.created_at.strftime("%Y/%m/%d") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

#メッセージ作成
<%= form_tag("/message/#{@room.id}" , {multipart: true}) do %>
  <input name="sentence" id="message-sentence" placeholder="<%= @room.name %>へメッセージを送信">
  <input type="submit" value="送信">
<% end %>

<%= link_to "ルーム削除","/room/delete/#{@room.id}",data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} %>

<%= link_to("戻る", "/room") %>