<%= render "room_info", room: @room_data %>

<div class="room-header-list">
  <div class="room-header">
    <div class="room_header_left" id="js-show-modal-detail">
      <%= link_to "/room/joined" do %><div class="room_back"><i class="fa-solid fa-angle-left"></i></div><% end %>
        <div class="room_title"><%= @room_data.name %>
          <div class="room_datail_button"><i  class="fa-solid fa-caret-down"></i></div>
        </div>
    </div>
  </div>
<div id="message-notice"></div>
</div>


<p id="notice"><%= notice %></p>

<div class="room-content">
<div id="data" data-room-id="<%= @room_data.id %>" data-user-id="<%= @current_user.id %>"></div>

<%= render "messages", messages: @messages %>

<div id="dummy-margin" class="dummy-margin"></div>

<%= form_with id: "message-form", url: create_message_path(params[:id]), model: @message, local: true do |f| %>
  <div class="message-form">
    <div class="message-textarea">
      <div id="dummy-textarea" class="dummy-textarea" aria-hidden="true"></div>
      <%= f.text_area :sentence, id: "message-sentence", class: "message-sentense-class", :placeholder => "メッセージを送信する" %>
    </div>
    <%= f.submit "", id: "message-submit", class: "message-submit" %>
    <p id="helper-text" style="color: red;"></p>
  </div>
<% end %>

<script type="text/javascript">
  document.addEventListener("turbo:load", () => {
    const input = document.querySelector("#message-sentence");
    const button = document.querySelector("#message-submit");
    const p = document.querySelector("#helper-text");
    const chatRegex = /[^\s\R]/;
    var textCount = 2000;

    button.disabled = true;
    input.addEventListener("keyup", () => {
      var count1 = input.value.length
      if(chatRegex.test(input.value)){
        button.disabled = false;
        $('.message-submit').css('opacity', '1.0');
      }else{
        button.disabled = true;
        $('.message-submit').css('opacity', '0.2');
      };

      if(count1 >= textCount){
        button.disabled = true;
        $('.message-sentense-class:focus').css('box-shadow','0 0 0 4px rgba(234, 57, 33, 0.3)');
      }else{
        $('.message-sentense-class:focus').css('box-shadow','0 0 0 4px rgba(35, 167, 195, 0.3)');
      };
    });
  });
</script>
<script type="text/javascript">
  document.addEventListener("turbo:load", () => {
    $(window).on('scroll', function (){
      var elem = $('.message-one');
        var elemOffset = elem.last().offset().top;
        var scrollPos = $(window).scrollTop();
        var wh = $(window).height();

        if(scrollPos >= elemOffset - wh){
          document.getElementById('message-notice').textContent = "";
        }

    });
  });
</script>

<script type="text/javascript">
  document.addEventListener("turbo:load", () => {
    // したの一文はページにアクセスした際に一番したまでスクロールする処理です。
    var msg = document.getElementById("messages")
    setTimeout(function(){
      window.scroll(0, msg.scrollHeight);
    },1)
    $("#messages").fadeIn();
  });
</script>

<script type="text/javascript">
    // Enterキー押下時、送信処理が実行する

    window.document.onkeydown = function(event){
      if (!event.shiftKey && event.key == 'Enter'){
        if (event.key === 'Enter') {
          document.getElementById('message-form').submit();
        }
        event.preventDefault();
      }
    }
</script>

</div>
