<div class="search-area">
  <%= search_form_for @q, url: room_search_path do |f| %>
    <%= f.label :category_eq, 'カテゴリー', class: 'label' %>
    <%= f.collection_select :category_eq, @category_sel, :first, :first, include_blank: '指定なし', class: 'search-select' %>
    <%= f.search_field :name_cont, placeholder: "キーワードを入力してルームを検索" %>
    <% f.submit '検索' %>
  <% end %>
</div>

<div class="content-column">
  <div class="title">最新ルーム</div>
</div>
<div class="rooms">
  <% @room.each do |room| %>
    <% unless UserRoom.find_by(user_id: @current_user.id, room_id: room.id) #joined rooms %>
        <div class="room"> 
            <div class="room-image">
              <% if room.image.length > 0 %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <%= room.name %>
            <% if room.created_at >= Date.today.beginning_of_day %>
              今日<%= room.created_at.strftime("%H:%M") %>
            <% elsif room.created_at < Date.today.beginning_of_day && room.created_at >= Date.yesterday.beginning_of_day%>
              昨日<%= room.created_at.strftime("%H:%M") %>
            <% else %>
              <%= room.created_at.strftime("%Y/%m/%d") %>
            <% end %>
            <%= link_to "参加", room_join_path(room.id) %>
        </div>

    <% else #not joined rooms %>
        <div class="room"> 
            <div class="room-image">
              <% if room.image.length > 0 %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <%= link_to room.name, room_page_path(room.id) %>
            <% if room.created_at >= Date.today.beginning_of_day %>
              今日<%= room.created_at.strftime("%H:%M") %>
            <% elsif room.created_at < Date.today.beginning_of_day && room.created_at >= Date.yesterday.beginning_of_day%>
              昨日<%= room.created_at.strftime("%H:%M") %>
            <% else %>
              <%= room.created_at.strftime("%Y/%m/%d") %>
            <% end %>
        </div>
    <% end %>
  <% end %>
</div>




<script type="text/javascript">
$(function() {
    const dataList = function(request, response) {
      $.ajax({
        url: '/name_auto/' + request.term,
        dataType: 'json',
        type: 'GET',
        cache: true,
        success: function(data) {
          response(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          response(['']);
        }
      });
    }
    $("#q_name_cont").autocomplete({
      source: dataList,
    });
});
</script>