<div class="search-area">
  <%= search_form_for @q, url: room_search_path do |f| %>
    <%= f.label :category_eq, 'カテゴリー', class: 'label' %>
    <%= f.collection_select :category_eq, @category_sel, :first, :first, include_blank: '指定なし', class: 'search-select' %>
    <%= f.search_field :name_cont, placeholder: "キーワードを入力してルームを検索" %>
    <% f.submit '検索' %>
  <% end %>
</div>

<div class="content-column">
  <div class="title">最新ルーム</div>
</div>
<div class="rooms">
  <% @room.each do |room| %>
    <% unless UserRoom.find_by(user_id: @current_user.id, room_id: room.id) #not joined rooms %>
        <div class="room"> 
            <div class="room-image">
              <% if room.image.length > 0 %>
                <img src = "<%= room.image %>" class="room-image">
              <% else %>
                <img src = "/room_image/default.png" class="room-image">
              <% end %>
            </div>
            <%= room.name %>
            <%= date_format(room.created_at)%>
            <%= link_to "参加", room_join_path(room.id) %>
        </div>

    <% else #joined rooms %>
        <%= link_to room_page_path(room.id) do %>
          <div class="room"> 
              <div class="room-image">
                <% if room.image.length > 0 %>
                  <img src = "<%= room.image %>" class="room-image">
                <% else %>
                  <img src = "/room_image/default.png" class="room-image">
                <% end %>
              </div>
              <%= room.name %>
              <%= date_format(room.created_at)%>
          </div>
        <% end %>
    <% end %>
  <% end %>
</div>




<script type="text/javascript">
document.addEventListener("turbo:load", () => {
  $(function() {
      const dataList = function(request, response) {
        $.ajax({
          url: '/name_auto/' + request.term,
          dataType: 'json',
          type: 'GET',
          cache: true,
          success: function(data) {
            response(data);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            response(['']);
          }
        });
      }
      $("#q_name_cont").autocomplete({
        source: dataList,
      });
  });
});
</script>